{% extends layout %}

{% block content %}
<h2>プレビュー</h2>
{% for key, section in converted_text %}
  {% if section.hasAfter() and section.hasBefore() %}
  <div class="section between">
    <div class="date">このセクションは {{ section.getAfter()|date(date_format)}} から {{ section.getBefore()|date(date_format) }} まで表示されます.</div>
    <pre>{{ section|e }}</pre>
  </div>
  {% elseif section.hasBefore() %}
  <div class="section before">
    <div class="date">このセクションは {{ section.getBefore()|date(date_format) }} まで表示されます.</div>
    <pre>{{ section|e }}</pre>
  </div>
  {% elseif section.hasAfter() %}
  <div class="section after">
    <div class="date">このセクションは {{ section.getAfter()|date(date_format) }} 以降に表示されます.</div>
    <pre>{{ section|e }}</pre>
  </div>
  {% else %}
  <div class="section plain">
    <div class="date">このセクションは常に表示されます.</div>
    <pre>{{ section|e }}</pre>
  </div>
  {% endif %}
</div>
{% endfor %}

<h2>入力テキスト</h2>
<pre>{{ raw_text|e }}</pre>
{% endblock %}
