{% extends layout %}

{% block content %}
<script type="text/javascript">
jQuery(document).ready(function () {
  var $ = jQuery;

  var $text = $('#text')
    , $previewForm       = $('#preview_form')
    , $previewAtTimeForm = $('#preview_at_time_form')
    , $hiddenText        = $('.hidden_text');

  $('#preview_button').on('click', function () {
    $hiddenText.val($text.val());
    window.open('about:blank', 'preview_window', 'menubar=no,toolbar=no,location=no,status=no,resizable=yes');
    $previewForm.submit();
  });

  $('#preview_at_time_button').on('click', function () {
    $hiddenText.val($text.val());
    window.open('about:blank', 'preview_window', 'menubar=no,toolbar=no,location=no,status=no,resizable=yes');
    $previewAtTimeForm.submit();
  });
});
</script>

<div class="row">
  <div class="span6">
    <h2>編集</h2>

    <div class="well">
    <form action="/text" method="post">
      <label>入力テキスト</label>
      <div>
        <textarea name="text" id="text" class="span5" rows="16">{{ text|escape }}</textarea>
      </div>
      <div>
        <p>入力テキストはブラウザのクッキーに保存されます.</p>
        <input type="submit" class="btn btn-primary" value="保存" />
      </div>
    </form>
    </div>

    <h2>時間を指定してプレビュー</h2>

    <div class="well">
      <form action="/preview-at-time" method="post" id="preview_at_time_form" target="preview_window">
        <select name="year" class="span1">
        {% for year in 2000..2020 %}
          <option value="{{ year|e }}"{% if year == cur_year %} selected="selected"{% endif %}>{{ year|e }}</option>
        {% endfor %}
        </select>
  -
        <select name="month" class="span1">
        {% for month in 1..12 %}
          <option value="{{ month|e }}"{% if month == cur_month %} selected="selected"{% endif %}>{{ "%02d"|format(month) }}</option>
        {% endfor %}
        </select>
  -
        <select name="day" class="span1">
        {% for day in 1..31 %}
          <option value="{{ day|e }}"{% if day == cur_day %} selected="selected"{% endif %}>{{ "%02d"|format(day) }}</option>
        {% endfor %}
        </select>

        <select name="hour" class="span1">
        {% for hour in 0..23 %}
          <option value="{{ hour|e }}"{% if hour == cur_hour %} selected="selected"{% endif %}>{{ "%02d"|format(hour) }}</option>
        {% endfor %}
        </select>
  :
        <select name="minute" class="span1">
        {% for minute in 0..59 %}
          <option value="{{ minute|e }}"{% if minute == cur_minute %} selected="selected"{% endif %}>{{ "%02d"|format(minute) }}</option>
        {% endfor %}
        </select>

        <input type="button" id="preview_at_time_button" class="btn" value="プレビュー" />
        <input type="hidden" name="text" class="hidden_text" />
      </form>
    </div>

    <form action="/preview" method="post" id="preview_form" target="preview_window">
      <input type="hidden" name="text" class="hidden_text" />
    </form>
  </div>

  <div class="span6">
    <h2>プレビュー</h2>

    {% for key, section in converted_text %}
    <div class="well">
      <div class="alert alert-info">
      {% if section.hasAfter() and section.hasBefore() %}
        このセクションは {{ section.getAfter()|date(date_format)}} から {{ section.getBefore()|date(date_format) }} まで表示されます.
      {% elseif section.hasBefore() %}
        このセクションは {{ section.getBefore()|date(date_format) }} まで表示されます.
      {% elseif section.hasAfter() %}
        このセクションは {{ section.getAfter()|date(date_format) }} 以降に表示されます.
      {% else %}
        このセクションは常に表示されます.
      {% endif %}
      </div>
      <pre>{{ section|e }}</pre>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
